<%- include('./partials/metadata'); %>
    <%- include('./partials/header', {name}) %>

        <main class=' pt-5 mt-5'>
            <section class='container' style='max-width: 45rem;'>
                <h1 class='mb-4 ms-3 display-6'>
                    Orders
                </h1>
                <div class="container card p-0">
                    <table class='table table-striped table-hover'>
                        <thead>
                            <tr>
                                <th scope="col" style='max-width: 2rem;'></th>
                                <th scope="col">Ordered by</th>
                                <th scope="col">Product</th>
                                <th scope="col" class='text-center'>Quantity</th>
                                <th scope="col" class='text-end'>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i=0; i < cart.length; i++) {  %>
                                <tr>
                                    <th scope="row" style='max-width: 2rem;'>
                                        <%= i + 1 %>
                                    </th>
                                    <td>
                                        <%= cart[i].created_by %>
                                    </td>
                                    <td>
                                        <%= cart[i].name %>
                                    </td>
                                    <td class='text-center'>
                                        <%= cart[i].quantity %>
                                    </td>
                                    <td class='text-center'>
                                        <%= cart[i].price %> ৳
                                    </td>
                                    <td class='text-end'>
                                        <%= cart[i].quantity * cart[i].price %> ৳
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </section>
        </main>

        <!-- Modal -->
        <div class="modal fade " id="checkoutModal" tabindex="-1" aria-labelledby="checkoutModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="checkoutModalLabel">Confirm Payment Method</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-check my-3">
                            <input class="form-check-input" type="radio" name="method" id="bkash">
                            <label class="form-check-label" for="bkash">
                <img src="https://1000logos.net/wp-content/uploads/2021/02/Bkash-logo.png" style="height: 5rem" alt="">
              </label>
                        </div>
                        <div class="form-check my-3">
                            <input class="form-check-input" type="radio" name="method" id="nagad" checked>
                            <label class="form-check-label" for="nagad">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Nagad_Logo_2019.svg/800px-Nagad_Logo_2019.svg.png"
                  style="height: 3rem" alt="">
              </label>
                        </div>
                        <div class="form-check my-3">
                            <input class="form-check-input" type="radio" name="method" id="cash" checked>
                            <label class="form-check-label" for="cash">
                Cash on Delivery
              </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a href="/cart" class="btn btn-primary" onclick="confirmCart(this)">Confirm Order </a>
                    </div>
                </div>
            </div>
        </div>

        <script>
            const clearCart = async(e) => {
                const response = await fetch('/cartClear', {
                    method: 'POST',
                    mode: 'cors',
                    credentials: 'same-origin',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    redirect: 'follow',
                    referrerPolicy: 'no-referrer',
                });
            }
            const confirmCart = async(e) => {
                const response = await fetch('/cartConfirm', {
                    method: 'POST',
                    mode: 'cors',
                    credentials: 'same-origin',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    redirect: 'follow',
                    referrerPolicy: 'no-referrer',
                });
            }
        </script>
        <%- include('./partials/end'); %>